<!DOCTYPE html>
<html>

    <head>
        <title>Maycon Pires</title>
        <link rel="stylesheet" href="styles.css">
        <script src="https://kit.fontawesome.com/14fecc8421.js" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <header>
            <div class="links">
                <a href="index.html">Sobre</a>
                <a href="classes.html">Aulas</a>
            </div>
        </header>

        <div id="wrapper">
            <img src="https://avatars.githubusercontent.com/u/59845199?s=400&u=b91384e25cbdfc3b87bb84a0f6e2de828125640d&v=4" alt="Maycon Pires">
            <h1>Maycon Pires</h1>
            <h2>Aluno RocketSeat</h2>
            <p>Programador Full-Stack, focado na tecnologia, empenhado em trazer a melhor usabilidade ao usuario para que ele tenha acesso rápido e interativo em qualquer aplicação</p>
        </div>

        <div id="links-footer" class="links">
            <a href="https://www.linkedin.com/in/maycon-pires-8893b519b/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://github.com/MayconPires-exe" target="_blank" class="fab fa-github"></a>
        </div>
    </body>

</html>